* {
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	font-family: Calibri, sans-serif;
	background: radial-gradient(circle at 0% 100%, rgb(9, 9, 8), rgb(34, 36, 39) 100%);
	color: rgb(220, 220, 220);
	height: 100%;
	width: 100%;
	font-size: 16px;
	min-width: 1000px;
	min-height: 750px;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	overflow-y: hidden;
}

#root {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
}
.container {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
}

.recipe-list {
    width: 25%;
    height: 100%;
    position: relative;
    float: left;
    border-right: 2px solid rgb(80, 80, 80);
    padding: .25rem;
}

.recipe-list-header {
    position: relative;
	font-size: 2rem;
	font-weight: lighter;
	font-family: Calibri, sans-serif;
	text-transform: uppercase;
	color: rgb(200, 200, 200);
	padding: .25rem 0 0 0;
	margin: 0 0 .75rem 0;
	letter-spacing: 3px;
}

#recipe-list-wrapper {
	max-height: calc(100% - 5.25rem);
	width: 100%;
	position: relative;
	float: left;
}

#recipe-list-controls {
	height: 2rem;
	width: 100%;
	position: relative;
	float: left;
	text-align: right;
	padding: .25rem;
}

.add-button {
	background: rgb(0, 150, 100);
	border: none;
	color: rgb(180, 180, 180);
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: .25rem;
}

.add-button:hover {
	color: rgb(255, 255, 255);
}

.add-button:active {
	background: rgb(0, 200, 0)
}

.recipe-list-row {
    width: 100%;
    position: relative;
    float: left;
    padding: 1rem;
    border-bottom: 2px solid rgb(80, 80, 80);
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
	color: rgb(180, 180, 180);
	cursor: pointer;
}

.recipe-list-row:hover {
    background: rgb(40, 40, 40);
}

.recipe-list-row:active {
    color: rgb(255, 255, 255);
}

.selected {
    color: rgb(255, 255, 255);
    border-bottom:2px solid rgb(242, 138, 34);
}

#recipe-viewer {
	position: relative;
	float: left;
	width: 75%;
}

.recipe-viewer-content {
	position: relative;
	max-width: 780px;
	margin: auto;
	overflow-y: auto;
	height: 100%;
}

.recipe-viewer-header {
	width: 100%;
}

.recipe-title {
	position: relative;
	font-size: 2rem;
	font-weight: lighter;
	font-family: Calibri, sans-serif;
	text-transform: uppercase;
	color: rgb(200, 200, 200);
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 15px 0px;
	letter-spacing: 3px;
}

.recipe-step-row {
	width: 100%;
    position: relative;
    float: left;
    padding: 1rem;
    font-family: Calibri, sans-serif;
    color: rgb(180, 180, 180);
}

#recipe-steps {
	width: 100%;
	margin: 2rem 0rem;
	position: relative;
	float: left;
}

#recipe-ingredients {
	width: 100%;
	margin: 2rem 0rem;
	position: relative;
	float: left;
}

.recipe-ingredient-row {
	width: 100%;
    position: relative;
    float: left;
    padding: 1rem;
    font-family: Calibri, sans-serif;
    color: rgb(180, 180, 180);
}

ul {
	list-style: none;
}

.recipe-ingredient-row-size {
	width: calc(25% - .5rem);
	margin: 0 .25rem;
	position: relative;
	float: left;
	text-align: right;
}

.recipe-ingredient-row-ingredient {
	width: calc(75% - .5rem);
	margin: 0 .25rem;
	position: relative;
	float: left;
}

.recipe-form-row {
	position: relative;
	float: left;
	width: 100%;
	padding: .25rem;
}

.recipe-form-row-label {
	width: calc(25% - .5rem);
	position: relative;
	float: left;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: Calibri, sans-serif;
	color: rgb(180, 180, 180);
	letter-spacing: 3px;
}

.recipe-form-text-input {
	width: calc(75% - .5rem);
	position: relative;
	float: left;
	font-family: Calibri, sans-serif;
	color: rgb(220, 220, 220);
	background: none;
	border: none;
	border-bottom: 1px solid rgb(80, 80, 80);
	height: 1.5rem;
}

.recipe-form-text-area {
	width: 100%;
	position: relative;
	float: left;
	font-family: Calibri, sans-serif;
	color: rgb(220, 220, 220);
	background: none;
	border: none;
	border-bottom: 1px solid rgb(80, 80, 80);
	resize: none;
}

.new-recipe-item-row {
	width: 100%;
	position: relative;
	float: left;
}

.new-ingredient-input {
	width: calc(50% - 2rem);
	position: relative;
	float: left;
	font-family: Calibri, sans-serif;
	color: rgb(220, 220, 220);
	background: none;
	border: none;
	border-bottom: 1px solid rgb(80, 80, 80);
	height: 1.5rem;
	margin: 0.12rem 0.25rem;
}
/*  Add media queries here? **/